{% extends "layout.html.twig" %}

{% block head %}
    <title>Menu - Memory</title>
{% endblock %}

{% block content %}

    <nav>
        <div class="text-center m-5"><a href="{{ url('app_newgame') }}" class="menu-link">Nouvelle Partie</a></div>
        <div id="highscore" class="col-8 offset-2">
            <h3 class="text-center" class="mb-5">Highscore</h3>
            <div id="hs_difficulty" class="m-3">
                <span id="hs_difficulty-easy" class="col-4 text-center font-weight-bold">Facile</span>
                <span id="hs_difficulty-medium" class="col-4 text-center">Moyen</span>
                <span id="hs_difficulty-hard" class="col-4 text-center">Difficile</span>
            </div>
            <div class="table-responsive mb-2">
                <table class="table table table-bordered table-striped text-center table-text-size">
                    <caption class="col-12 text-center">
                        <h4 id="caption">Mode facile</h4>
                    </caption>
                    <thead>
                        <tr>
                            <th id="highscore_player">Joueur</th>
                            <th id="highscore_try">Essais</th>
                            <th id="highscore_time">Temps</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for score in highscore %}
                            <tr>
                                <td>{{ score.player }}</td>
                                <td>{{ score.try }}</td>
                                <td>{{ score.time }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </nav>

{% endblock %}

{% block script %}
    <script src="{{ asset('js/HighscoreDisplay.js') }}"></script>
{% endblock %}