{% extends "layout.html.twig" %}

{% block head %}
    <title>Jeu - Memory</title>
{% endblock %}

{% block content %}

    <h3 class="text-center m-4">
        {% if theme == 'animals' %}
            Animaux
        {% elseif theme == 'monsters' %}
            Monstres
        {% elseif theme == 'music' %}
            Instruments de musique
        {% else %}
            {{ "Thème inconnu"|e }}
        {% endif %}
        - Mode
        {% if size == 6 %}
            facile
        {% elseif size == 12 %}
            moyen
        {% elseif size == 18 %}
            difficile
        {% else %}
            {{ "de difficulté inconnu"|e }}
        {% endif %}
    </h3>

    <div id="players" class="d-flex flex-row justify-content-around col-12 mb-3">
        {% for player in players %}
            <div id="player{{ loop.index }}_info" class="col-3 d-flex flex-row">
                <div id="player_{{ loop.index }}_ico" class="col-2"></div>
                <div id="player_{{ loop.index }}_name" class="col-10">{{ player.name }}</div>
            </div>
            <div id="player{{ loop.index }}_trys" class="text-center col-3">
                <span id="player_{{ loop.index }}_try-txt">Essai(s) : </span>
                <span id="player_{{ loop.index }}_try-num"> 0 </span>
            </div>
        {% endfor %}
    </div>

    <div id="gameinfo" class="d-flex flex-row justify-content-center mb-3">
        <div id="gameinfo_time" class="text-center col-3">
            <span id="gameinfo_time-txt">Temps : </span>
            <span id="gameinfo_time-numb"> 00:00 </span>
        </div>
    </div>

    <div id="cards" class="row">
        {% for i in 0 .. (size - 1) %}
            <div class="card_div col-2 mb-3 hidden">
                <img id="card_{{ loop.index0 }}"  src="{{ asset('img/hidden.png') }}" class="card_img">
            </div>
        {% endfor %}
    </div>

    <div id="modal_winner">
        <div id="modal_content">
            <div id="modal_trophy"><i class="fas fa-trophy"></i></div>
            <div>Félicitations <span id="winner_name"></span>, tu remportes cette partie !</div>
            <div>Tu as trouvé <span id="winner_matched-cards"></span> paires sur tes <span id="winner_try"></span> essais en <span id="winner_time"></span></div>
            <div class="mt-5"><a href="{{ url('app_newgame') }}" class="menu-link">Nouvelle Partie</a></div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{{ asset('js/Memory.js') }}"></script>
    <script src="{{ asset('js/Timer.js') }}"></script>
{% endblock %}
