{% extends "layout.html.twig" %}

{% block head %}
    <title>Jeu - Memory</title>
{% endblock %}

{% block content %}

    <h3 class="text-center m-4">{{ memory.players[memory.player] }} joue avec les
        {% switch memory.theme %}
        {% case 'animals' %}
            animaux
        {% case 'monsters' %}
            monstres
        {% case 'music' %}
            instruments de musique
        {% default %}
            {{ "<thème inconnu>"|e }}
        {% endswitch %}
        en mode
        {% switch memory.size %}
        {% case 6 %}
            facile
        {% case 12 %}
            moyen
        {% case 18 %}
            difficile
        {% default %}
            {{ "<difficulté inconnue>"|e }}
        {% endswitch %}
    </h3>

    <div id="gameinfo" class="d-flex flex-row justify-around mb-3">
        <div id="gameinfo_try" class="text-center col-5">
            <span id="gameinfo_try-txt">Essai(s) : </span>
            <span id="gameinfo_try-numb"> 0 </span>
        </div>
        <div id="gameinfo_time" class="text-center col-5">
            <span id="gameinfo_time-txt">Temps : </span>
            <span id="gameinfo_time-numb"> 00:00 </span>
        </div>
    </div>

    <div id="cards" class="row">
        {% for i in 0 .. memory.cards|length - 1 %}
            <div id="card_{{ loop.index }}" class="card_div col-2 mb-3 {{ memory.cards[loop.index] }}">
                <img src="{{ asset('img/hidden.png') }}" class="card_img">
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script src="{{ asset('js/Timer.js') }}"></script>
{% endblock %}
